<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
        <div class="card-body">
            <h1 class="card-title text-center">Page you are looking for does not exists.</h1>
        </div>
    </div>
</div>